<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">

        <title>Current Location Weather</title>
    </head>
    <body>
        <h1>Current Weather</h1>

        <h2>Country</h2>
        <p>{{ country }}</p>

        <h2>City</h2>
        <p>{{ city }}</p>

        <h2>Weather</h2>
        <img src="{{ img_url }}" style="width: 100px; height: 100px;">
        <p>{{ weather }}</p>
        <p>{{ description }}</p>

        <h2>Data</h2>
        <p>{{ data }}</p>
    </body>
</html>